/* SignupPage.css */
.signup-page {
  font-family: "Arial", sans-serif;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1 {
  margin: 0;
}

.signup-form {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: #555;
  display: block;
  font-size: 14px;
  text-align: left;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.error {
  color: #c0392b;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #160202;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p {
  margin: 0;
  font-size: 14px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
